:root {
--dark-blue: #0A2540;
--blue: #0058b7;
--gray: #c2c2c2;
--black: #222;
--off-white: #f2f2f2;
--action-color: #f9a826;
}

/* About style */
.about-title h2 {
    text-align: center;
    margin: 50px 0 30px 0;
    font-size: 30px;
    font-weight: 200;
    color: var(--dark-blue);
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-img {
    max-width: 350px;
    margin: 0 2em 0 2em;
}

.about-text {
    width: 500px;
    margin: 40px;
}

.about-text p {
    line-height: 150%;
    letter-spacing: 0%;
}


/* Cards */
.cards {
    display: flex;
    justify-content: center;
    background-color: var(--gray);
    margin-top: 60px;
    width: 100%;
}

.card {
    border-radius: 16px;
    width: 70%;
    height: auto;
    padding: 20px;
    background-color: var(--bg-gray);
    box-shadow: 3px 4px 12px #0000001A;
    background-color: var(--off-white);
    margin: 16px;
    padding: 15px;

}

.card h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    margin-top: 16px;
    padding: 16px;
}

.card p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 10px;
    margin-bottom: 20px;
}

.card a {
    font-size: 15px;
    background-color: var(--blue);
    border-radius: 6px;
    color: var(--off-white);
    margin: 10px;
    padding: 10px 20px;
    border: none;
    align-content: center;
}

.card a:hover {
    background-color: var(--action-color);
    cursor: pointer;
}


