:root {
    --dark-blue: #0A2540;
    --blue: #0058b7;
    --gray: #c2c2c2;
    --black: #222;
    --off-white: #f2f2f2;
    --action-color: #f9a826;
    }

* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--off-white);
    color: var(--black);
    
}

a {
    text-decoration: none;
}

.header-logo {
    font-size: 40px;
    font-weight: 700;
    color: var(--off-white);
}


/* header */

header {
    background: var(--dark-blue);
    color: var(--off-white);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: inline;
    padding-right: 30px;
}

header nav a {
    color: var(--off-white);
    margin-left: 1rem;
    font-weight: 500;
}

header nav a:hover {
    color: var(--action-color);
}

.header-img {
    height: 70vh;
    background-color: var(--blue);
}



/* header imgage */

.header-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img-text {
   position: absolute;
   justify-self: center;
   padding: 60px 0 0 0;
   
}

.header-img-text h2 {
    color: var(--off-white);
    font-size: 5vh;
    font-weight: 600;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    background-color: var(--blue);
}

.header-image {
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    overflow: hidden;
}

.header-img img {
    max-width: 2670px;
    max-height: 1780px;
    
}


/* Footer */
footer {
    bottom: 0;
    background: var(--dark-blue);
    color: var(--off-white);
    text-align: center;
    padding: 1rem;
    /* margin-top: 2rem; */
}

footer p {
    padding: 0.5rem;
}

/* UEFA RANKING */
.container_ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 20px;
}

.ranking_title h2 {
    color: var(--dark-blue);
    font-size: 30px;
    font-weight: 200;
    margin: 40px 0 20px;
}

/* header row description */
.ranking_description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    color: var(--dark-blue);
    font-weight: 600;
    padding: 0.5rem 1.2rem;

}

.ranking_description > div { 
    flex: 1;
    text-align: center;
}

/* Data rows */
.ranking_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    background-color: var(--blue);
    color: var(--off-white);
    padding: 0.8rem 1.2rem;
    border-radius: 6px;
    transition: background 0.2s;
}

.ranking_row:hover {
    background: var(--dark-blue);
}

.ranking_row > div {
    flex: 1;
    text-align: center;
}

.team-logo {
    flex: 0 0 60px;
    text-align: left;
}

.team-logo img {
    height: 40px;
    width: auto;
    vertical-align: middle;
    object-fit: contain;
}

.team-name {
    flex: 2;
    text-align: left;
}

.team-country, 
.team-rank {
    flex: 1;
}

.arrow {
    flex: 0 0 30px;
    font-size: 1.2rem;
    text-align: right;
}

