* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}



nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #517d67;
}

a {
    color: #fff;
    font-size: 20px;
    margin: 17px;
    text-decoration: none;
    display: inline-block;
}

footer a {
    padding: 7px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 100px 0 100px;
    height: auto;

}

.box {
    border-radius: 20px;
    background-color: #f4f4f9;
    padding: 20px;
    margin: 20px;
    text-align: center;
}   

.box:hover {
    cursor: pointer;
    background-color: #d3d3da;
    box-shadow: 5px 5px 10px #939393;
}

.box img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 25px;
}

.box h4 {
    padding: 20px;
    font-size: 20px;
    color: #222;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #517d67;
}